.stickHeader{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding:10px;
    z-index: 2;
    box-sizing: border-box;
}

.toolMeta{
    padding:5px;
    display: flex;
    margin:10px;
}