body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theme-color{
  color: #00b5ad!important;
}
@import "~react-image-gallery/styles/css/image-gallery.css";

*{
  font-family: 'Noto Sans HK', sans-serif;
}